.hide-mobile{
    display: none;
}
body{
    margin: 3%;
    
}

.firstrow{
    display: flex;
    justify-content: space-between;
}

.leftheader{

    .divider{
        img{width: 50%;
            visibility: visible;
            margin-right: px;
        }
    }
    img{width:15%;
        height: 11%;
    display: flex;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    }
    p{
        span{font-size: 20px;
        font-weight: lighter;
        font-family: 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        }
        a{text-decoration: none;
        color: black;}
        
    }
    display: flex;
    text-align: left;
    margin-left: 5%;
}

.menu-open{
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.menu-close{
    display: flex;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: right;


}


nav ul{
    
    background-color: #E06933;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 38%;
    text-align: right;
    padding: 1em;
    transform: translatex(100%);
    transition: transform 0.5s ease-in-out;

 
    li{
        margin:2em 0;
        color: white;
        text-decoration: none;
        &:nth-of-type(1){
            margin-bottom: 5em;
            margin-right: 1em;
        }
        a{
            text-align: center;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 0.9rem;
            font-family: Arial, Helvetica, sans-serif;

            &:hover{
                color: rgb(49, 38, 17);
                text-decoration: underline;
            }
            
        }
    }
}

.open{
    transform: translateX(0%);
}

.firstpart{
    display: flex;
    margin-top: 0%;
    .pic{
        img{
            display: flex;
            max-width: 94%;
            position: absolute;
            top: 20%;
            justify-content: center;
          
        }
    }
}


@media (min-width : 750px) {

    .hide-desktop{
    display: none;
    }
    .hide-mobile{
        display: block;
    }
    
    .firstrow{
        display: flex;
        justify-content: space-between;
        margin-bottom: -25%;
    }

    .leftheader{
margin-bottom: 0;
        
            img{width: .8em;
               display: flex;
                margin-bottom: 0%;
            }
        
        img{width:auto;
            height: 11%;
        display: flex;
        text-align: center;
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
        }
        p{
            span{font-size: 20px;
            font-weight: lighter;
            font-family: 'Arial Narrow', Arial, sans-serif;
            text-decoration: none;
            }
            a{text-decoration: none;
            color: black;}
            
        }
        
        text-align: left;
        margin-left: 17%;
    }


    .divider{
    gap: 1em;
    }
   
    nav ul{
        position: unset;
        background: none;
        display: flex;
        gap: 3em;
        height: auto;
        width: auto;
        transform: translateX(0%);
        margin-bottom: 0%;

        li a{
            font-size: 1.1rem;
            background: none;
            color: black;
            display: flex;
            img{
                display: flex;
                
            }

        }
    }
.firstpart{
    display: flex;
    position: relative;
    justify-content: center;
    
    padding: 1%;
    order: 1;
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        margin-right: 50px;
    }
    .abovepic{
        display: flex;
        columns: 1;
        position: absolute;
        top: -3%;
        justify-content: center;
        .row{display: flex;
        border: white;
        border-style: solid;
        border-width: 1em;
        border-radius: 16%;
        background-color: #E06933;
        padding: 24px;
        border-radius: 26px;
        max-width: 79%;
        justify-content: center;
        max-height: 14px;

        a{  display: flex;
            text-decoration: none;
            text-align: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8em;
            justify-content: center;
        }
        
    }
        
    }
}

    .pic{
        background-image: url(assets/hands.jpg);
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        justify-content: center;
        height: 100em; 
        left: 19%;
        top: 190%;
        border-style: none;
        border-radius: 16px;
        margin-bottom: 0%;
        a img{
            display: flex;
            position: static;
            margin-top: 5%; 
            left: 56%;
            
           
            
        }
        h1{
            display: flex;
            position: relative;
            top: 10%;
            left: 23%;
            font-size: 1.5em;
            font-weight: lighter;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            margin-top: 10%;
            color: #E06933;
            min-width: 28%;
            
        }
        h2{
            display: flex;
            position: relative;
            top: 22%;
            left: -5%;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.1em;
            min-width: 60%  !important;
            font-weight: bold;
            
        }
        p{
        display: flex;
        position: relative;
        top: 30%;
        left: -64.7%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
        min-width: 45%;
        }

        
    }
.underpic{
    margin-top:0 ;
    display: flex;
    position: relative;
    justify-content: center;
    top: -1000px;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 66);
    }
}

.picleftrow{
    display: flex; 
    position: relative;
    margin: 0;
    top: -1000px;
    justify-content: center;
    
    span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8em;
        color:  blue;
        
        
        
    }
    p{
        margin-left: 90px;
        max-width: 18%;
        margin-top: 40px;
        color: rgb(0, 90, 146);
    }

    img{
        border-radius: 16px;
    }
    a{
        display: flex;
        position: absolute;
        top: 70%;
        right: 35%;
        img{
            display: flex;
            position: relative;
            
        }

        }
        .img-orange-text span{
            color:  white;
            background-color: #E06933;
            display: flex;
            position: absolute;
            top: -90%;
            width: 208px;
            height: 63px;
            align-items: center;
            font-size: 13px;
            padding-left: 30px;
            left: 0%;
            
        }
        .img-orange-text p{
            color:  white;
            background: #E06933;
            width: 228px;
            display: flex;
            position: absolute;
            top: 10%;
            font-size: 30px;
            height: 70px;
            justify-content: center;
            padding-left: 10px;
        }
    }

    .picrightrow{
        display: flex;
        position: absolute;
        justify-content:center;
        top: 160%;
        span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.8em;
            color:  blue;
        }
        p{
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            max-width: 20%;
            text-align: left;
            color:  rgb(0, 90, 146);
            
        }
       
        
    }
}
